<div class="container">
    <div class="row col-md-8">
        <table class="table table-bordered table-striped" id="colsize">

            <tr ng-repeat="one in Utils.keys track by $index">
                <th class="info tdicon">{{one}}</th>

                <td>{{checkboxResult[one][0]}}</td>
                <td>
                    <input type="checkbox"  ng-checked="eSelection.indexOf(checkboxResult[one][0]) > -1" ng-click="dataSelection(checkboxResult[one][0])" />
                </td>
                <td>
                    <input type="checkbox"  ng-checked="eSelection.indexOf(checkboxResult[one][1]) > -1" ng-click="dataSelection(checkboxResult[one][1])" />
                </td>
                <td>{{checkboxResult[one][1]}}</td>

            </tr>
        </table>
    </div>
</div>
<br>
{{eSelection}}