
<div class="container">
    <div class="row col-md-8">
        <table class="table table-bordered table-striped" id="colsize">

            <tr ng-repeat="one in Utils.keys track by $index">
                <th class="info tdicon">{{one}}</th>
                <td>{{radioResult[one][0]}}</td>
                <td><input type="radio" ng-model="name[one]" name={{radioResult[one]}}  ng-value="radioResult[one][0]"></td>
                <td><input type="radio" ng-model="name[one]" name={{radioResult[one]}}  ng-value="radioResult[one][1]"></td>
                <td >{{radioResult[one][1]}}</td>

            </tr>
        </table>
    </div>
</div>

{{name}} <br>

<!--<div ng-repeat="i in Utils.keys track by $index">{{$index}}{{Utils.keys[$index]}}</div>-->

<!--<div class="container">-->
<!--  <div class="row col-md-8">-->
<!--    <table class="table table-bordered table-striped" id="colsize">-->

<!--      <tr ng-repeat="one in radiocombined">-->
<!--        <th class="info tdicon">Name</th>-->

<!--        <td>{{one.name[0]}}</td>-->
<!--        <td>-->
<!--          <input type="radio" ng-model="radiocombined.name" name="key" ng-value="one.name[0]">-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="radio" ng-model="radiocombined.name" name="key" ng-value="one.name[1]">-->
<!--        </td>-->
<!--        <td>{{one.name[1]}}</td>-->

<!--      </tr>-->
<!--      <tr ng-repeat="two in radiocombined">-->
<!--        <th class="info">City</th>-->
<!--        <td>{{two.city[0]}}</td>-->
<!--        <td>-->
<!--          <input type="radio" ng-model="radiocombined.city" name="key2" ng-value="two.city[0]">-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="radio" ng-model="radiocombined.city" name="key2" ng-value="two.city[1]">-->
<!--        </td>-->
<!--        <td>{{two.city[1]}}</td>-->

<!--      </tr>-->
<!--    </table>-->
<!--    <br>-->
<!--    <strong>Selected Name :</strong>{{radiocombined.name}}-->
<!--    <br>-->
<!--    <strong>Selected City :</strong>{{radiocombined.city}}-->

<!--    <br>-->
<!--    <br>-->
<!--    <strong>Combined data :</strong>{{radiocombined}}-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<div class="container">-->
<!--  <div class="row col-md-8">-->
<!--    <table class="table table-bordered table-striped" id="colsize">-->

<!--      <tr>-->
<!--        <th class="info tdicon">Name</th>-->

<!--        <td ng-repeat="one in radiocombined.name track by $index">{{one}}-->
<!--          <input type="radio" ng-model="one[$index]" name="key" ng-value="one[$index]">-->
<!--        </td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <th class="info">City</th>-->
<!--        <td ng-repeat="two in radiocombined.city">{{two}}-->
<!--          <input type="radio" ng-model="two" name="key2" ng-value="two">-->
<!--        </td>-->

<!--      </tr>-->
<!--    </table>-->
<!--    <br>-->
<!--    <strong>Selected Name :</strong>{{one[$index]}}-->
<!--    <br>-->
<!--    <strong>Selected City :</strong>{{two}}-->

<!--    <br>-->
<!--    <br>-->
<!--    <strong>Combined data :</strong>{{radiocombined}}-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->