
<div class="container">
    <div class="row col-md-8">
        <table class="table table-bordered table-striped" id="colsize">

            <tr ng-repeat="one in Utils.keys track by $index">
                <th class="info tdicon">{{one}}</th>
                <td>{{radioResult[one][0]}}</td>
                <td><input type="radio" ng-model="name[one]" name={{radioResult[one]}}  ng-value="radioResult[one][0]"></td>
                <td><input type="radio" ng-model="name[one]" name={{radioResult[one]}}  ng-value="radioResult[one][1]"></td>
                <td >{{radioResult[one][1]}}</td>

            </tr>
        </table>
    </div>
</div>

{{name}} <br>