/* Put your css in here */

.tdicon{ width: 222px !important; }

#colsize tr td:nth-child(2){
    width:800px;
}
#colsize tr td:nth-child(5){
    width:800px;
}
#colsize tr td:nth-child(3) {
    width:100px;
}
#colsize tr td:nth-child(4){
    width:100px;
}