<!--<table>-->
<!--<tbody>-->
<!-- <tr colspan="2">-->
<!--<th>List1</th>-->
<!--<th>List2</th>-->

<!--</tr>-->
<!--<tr >-->
<!--<td >-->
<!--<ul class="outer" id="block"  drag="handleDrag(d1)" ng-repeat="d1 in data1" my-draggable=""  >-->
<!--<li ng-bind-html="d1.html">-->
<!--</li>-->
<!--</ul>-->
<!--</td>-->
<!--<td>-->
<!--<ul id="block" ng-repeat="d2 in data2">-->
<!--<li ng-bind-html="d2.html">-->
<!--</li>-->
<!--</ul>-->
<!--</td>-->
<!--<td my-sortable>-->
<!--<ul  ng-repeat="d3 in data3">-->
<!--<li id="dropbox" drop="handleDrop($index)" my-droppable="" ng-model="data3" ng-bind-html="d3.html">-->
<!--</li>-->
<!--</ul>-->
<!--</td>-->

<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<br>
<!-- {{combine}} -->
<div class="container">
    <div class="container1">
        <div >
            <div style="padding:10px" ng-repeat="d2 in data2">
                <p ng-bind-html="d2.html"></p>
            </div>
        </div>
        <div my-sortable >
            <div ng-repeat="d3 in data3" >
                <p id="dropbox"  drop="handleDrop($index)" my-droppable="" ng-model="data3" ng-bind-html="d3.html">
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="outer" drag="handleDrag(d1)" ng-repeat="d1 in data1" my-draggable="">
            <p  ng-bind-html="d1.html"></p>
        </div>
    </div>
</div><br>

<br>
<hr> Paired:
<div ng-repeat="value in combine| filter:pairFilter">{{value |json}}</div>
<br> Unpaired:
<div ng-repeat="value in combine| filter:unpairFilter">{{value |json}}</div>
<br>
<hr>