
<div class="container">
    <div class="container1">
        <div >
            <div style="padding:10px" ng-repeat="d2 in data2">
                <p ng-bind-html="d2.html"></p>
            </div>
        </div>
        <div my-sortable >
            <div ng-repeat="d3 in data3" >
                <p id="dropbox"  drop="handleDrop($index)" my-droppable="" ng-model="data3" ng-bind-html="d3.html">
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="outer" drag="handleDrag(d1)" ng-repeat="d1 in data1" my-draggable="">
            <p  ng-bind-html="d1.html"></p>
        </div>
    </div>
</div><br>

<br>
<hr> Paired:
<div ng-repeat="value in combine| filter:pairFilter">{{value |json}}</div>
<br> Unpaired:
<div ng-repeat="value in combine| filter:unpairFilter">{{value |json}}</div>
<br>
<hr>